@{
    ViewData["Title"] = "О Программе";
}

<div align="left">
    <h1 class="display-4">Назначение программного средства</h1>
    <p>Программное средство разработано для учета мобильных устройств и имеет следующие функции:</p>
    <ul>
        <li>авторизация сотрудника;</li>
        <li>добавление, редактирование и удаление информации о сотрудниках (доступно только администратору);</li>
        <li>добавление, редактирование и удаление информации о мобильных устройствах (доступно только администратору);</li>
        <li>изменение статуса мобильного устройства;</li>
        <li>просмотр информации о мобильных устройствах;</li>
        <li>просмотр информации о сотрудниках (доступно только администратору);</li>
        <li>комментирование состояния мобильного устройства (необходимо для быстрого информирования о состоянии мобильного устройства (сбой в работе, нежелательное обновление ОС)).</li>
    </ul>
    <p>Программное средство разработано учащейся группы 881074 Третьяковой Анастасией Владимировной.</p>
</div>