@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

<h1>Список ролей</h1>

<p>

    <a asp-action="Create">Добавить роль</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Наименование
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Name</td>
                <td>
                    <a asp-action="Delete" asp-route-name="@role.Name">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>